.theme-dark {
  --page-background-color: #17181e;
  --card-background-color: #1f2027;
  --button-background-color: #59b6f9;
  --header-background-color: #1f2027;
  --text-default-color: #fff;
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-muted-color: rgba(255, 255, 255, 0.699);
  --text-muted-light-color: #cdd7dad8;
  --text-muted-dark-color: #939899d8;
}
