.theme-light {
  --page-background-color: #f5f6f9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --header-background-color: #fff;
  --text-default-color: #222;
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-muted-color: rgba(0, 0, 0, 0.3);
  --text-muted-light-color: #cdd7dad8;
  --text-muted-dark-color: #939899d8;
}
